*~
.DS_Store
.gitignore
bx_wavelengths.txt
*.ps
*.sav
data/fl_time_ser.txt
cals/*
idlsave.dat
plots/*
*.fits
radius_vs_wavelength/*.txt
radius_vs_wavelength/older_rad_vs_wavl_files/*.txt
radius_vs_wavelength/old_rad_vs_wavl/*.txt
radius_vs_wavelength/fit_data/*.txt
transit_info/bjd2utc.pro
transit_info/jdutc2jdtdb.pro
transit_info/print_times.pro
transit_info/tai_utc.pro
transit_info/utc2bjd.pro
data/cleaned_tim_ser/*.txt
data/mcmc/param_unc/*.txt
data/mcmc/*.sav
molec_inputs/*bin_locations.txt
molec_inputs/*.eps
molec_inputs/*.png
molec_inputs/*.pdf
data/shift_data/shift_vals_from_arc.txt
data/telluric/mktrans_zm_16_15.dat
