cov_kernel.pro
*~
.DS_Store
.gitignore
bx_wavelengths.txt
*.ps
*.sav
data/fl_time_ser.txt
cals/*
idlsave.dat
plots/*
*.fits
radius_vs_wavelength/*.txt
radius_vs_wavelength/older_rad_vs_wavl_files/*.txt
radius_vs_wavelength/old_rad_vs_wavl/*.txt
radius_vs_wavelength/fit_data/*.txt
radius_vs_wavelength/*/*.txt
radius_vs_wavelength/*/*/*.txt
radius_vs_wavelength/*/*/*/*.txt
transit_info/bjd2utc.pro
transit_info/jdutc2jdtdb.pro
transit_info/print_times.pro
transit_info/tai_utc.pro
transit_info/utc2bjd.pro
transit_info/transit_epoch.txt
transit_info/transit_epoch_corot1_oldUTbackup.txt
transit_info/transit_epoch_kic1255_next.txt
transit_info/transit_epoch_kic1255_previous.txt
data/cleaned_tim_ser/*.txt
data/mcmc/*/*.txt
data/mcmc/*/*/*.txt
data/mcmc/*.sav
data/simulated_series/*.txt
data/model_expr.txt
molec_inputs/*bin_locations.txt
molec_inputs/*.eps
molec_inputs/*.png
molec_inputs/*.pdf
data/shift_data/shift_vals_from_arc.txt
data/telluric/mktrans_zm_16_15.dat
data/object_coordinates.txt
file_lists/current_speclist.txt
transit_info/planet_info.txt
file_lists/old/*
param_input/specphot_range.txt
